<nav class="navbar navbar-expand-lg bg-dark text-light">
    <div class="container">
      <a class="navbar-brand text-light">Fragrance</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link  text-light" aria-current="page" routerLink=""  >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-light" aria-current="page"  routerLink="men-fragrance"  >Men fragrance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  text-light" aria-current="page" routerLink="women-fragrance" >Women fragrance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light " aria-current="page" routerLink="about-us" >About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" routerLink="sign-up" >Sign Up</a>
          </li>
          
  
  
        </ul>
  
      </div>
    </div>
  </nav>